.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 500px;
    margin: 20px auto;
    background-color: #f9f9f9;
  }
  
  .chat-header {
    background-color: #007AFF;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;
  }

  .chat-header .arrow {
    position: absolute;
    left: 0;
  }
  
  .chat-input-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
  }
  
  .chat-input-container input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .chat-input-container button {
    padding: 10px 15px;
    border: none;
    background-color: #007AFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chat-input-container button:hover {
    background-color: #007AFF;
  }
  

  /* M E S S A G E S */
.chat {
  list-style: none;
  background: none;
  margin: 0;
  padding: 0 0 50px 0;
  margin-top: 60px;
  margin-bottom: 10px;
  max-height: 400px;
  overflow: scroll;
  scroll-behavior: smooth;
}
.chat li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}

.other .msg {
  order: 1;
  border-top-left-radius: 0px;
  box-shadow: -1px 2px 0px #d4d4d4;
  background-color: #f0f0f0;

}
.other:before {
  content: "";
  position: relative;
  top: 0px;
  right: 0px;
  left: 40px;
  width: 0px;
  height: 0px;
  border: 5px solid #fff;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.self {
  justify-content: flex-end;
  align-items: flex-end;
}
.self .msg {
  order: 1;
  border-bottom-right-radius: 0px;
  box-shadow: 1px 2px 0px #d4d4d4;
  background-color: #c4e4f7;
}

.msg {
  background: white;
  min-width: fit-content;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
  min-width: 30%;
  max-width: 80%;
}
.msg p {
  font-size: 0.8rem;
  margin: 0 0 0.2rem 0;
  color: #003a78;
}

.msg .date {
  font-size: 0.7rem;
  text-align: right;
}